body {
  background-color: #ccf5ff;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.form-control {
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  width: 250px;
  margin-bottom: 15px;
}

.btn {
  background-color:#00ccff;
  border: none; 
  border-radius: 10px;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.btn:hover {
  border: solid black 1px ;
}

@media screen and (max-width:768px) {
  body{
    max-width: 100%;
  }
}
