.container{
    display: flex;
}
.product-card {
    display: inline-block;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
  
  .product-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    border-radius: 5px 5px 0 0;
  }
  
  .product-title {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  .product-description {
    font-size: 0.9rem;
    color: #666;
  }
  
  .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5722;
    margin: 10px 0;
  }

  .product-card-button{
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .product-card-button:hover {
        background-color: #0056b3;
      }
      

  