.product-card {
    width: 300px;
    margin: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
    margin-top: 15px;
}

.product-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;

}

.product-name {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    display:block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}


.product-price {
    color:  rgb(42, 175, 211);
    font-weight: bold;
    text-align: center;
}

.buy-now-btn {
    background-color:rgb(23, 138, 169);;
    color: white;
    padding: 7px 15px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    
}
.buy-now-btn:hover{
    background-color: rgb(19, 39, 18);
}
.product-card:hover{
   
    transform: scale(1.02);
}
@media screen and (max-width:768px){

    .products-cards{
        display: block;

        width:220px;
        margin:20px 50px;
    }
}