.login-container{
  width:400px ;
  height: auto;
  background-color: azure;
  margin: 30px auto ;
  padding: 20px 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(85, 149, 84);
}
.loginbtn{
  margin-left: 80px;
}
.heading-signup{
  margin-left: 60px;
  text-decoration: none;
}