.my-order-card{
    display: flex;
   padding: 10px 20px;
   margin:15px  30px;
   position: relative;
  /* border: 1px solid black; */
  box-shadow: 0 0 3px rgb(85, 149, 84);
 
}

.myorder-product-img{
   margin-top:20px;
   height:200px;
   width:200px;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 0 5px rgb(41, 121, 40);
}
.myorder-product-name{
   color:rgb(9, 112, 140) ;
   text-decoration: none;
   font-size: 20px;
}

.card-order{
   box-shadow: 0 0 5px rgb(85, 149, 84);
  margin: 10px 20px;
  padding:10px;


}
.price{
   color: (85, 149, 84);
}
.status{
   position: absolute;
   right:10px;
   top:10px;
   border: none;
   padding: 10px;
   font-size: 20px;
   font-weight: 800px;
   background-color: aliceblue;
}
.totalamount{
   display: inline-block;
   position: absolute;
   bottom: 10px;
   right:10px;
}

@media screen and (max-width:768px){

   .my-order-card{
    flex-direction: column;
   
    padding: 10px 10px;
    
  }
  .myorder-product-img{
   display: block;
   margin: 0 auto;
   height:200px;
   width:200px;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 0 5px rgb(85, 149, 84);
}
.myorder-product-name{
   font-size: 14px;
   margin-top: 10px;
   text-align: center;
}

}