.waste-recycling-plant {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
  }
  
  h1 {
    font-size: 28px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  .services, .contact {
    text-align: left;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    padding: 0 0 0 20px;
  }
  
  .mobile {
    color: #007bff;
    text-decoration: none;
  }
  .heading-text{
    padding: 0 300px;
  }
  .e-waste-img{
    margin-left: 300px;
    width: 900px;
    height: 450px;
  }
  .card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
  }
  