.contact-page-division{
    background-color: rgba(0, 0, 0, 0.362);
    margin-top: 50px;
    width: 1517px;
    height: 650px;
    display: flex;
    flex-direction: row;
}
.massage-contact{
    color: #fff;
    background: none;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 40px;
}
.welcome-line{
    color: black;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}
.input-1{
    height: 50px;
    width: 325px;
    margin-left: 50px;
    margin-top: 10px;
    border: black solid 1px;
    color: black;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;  
}
.input-2{
    height: 50px;
    width: 700px;
    margin-left: 50px;
    margin-top: 20px;
    border: black solid 1px;
    color: black;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;


}
.input-3{
    height: 200px;
    width: 700px;
    margin-left: 50px;
    margin-top: 20px;
    border: black solid 1px;
    color: black;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    
}
.msg-btn{
    height: 60px;
    width: 150px;
    background:none;
    color: black;
    border: 2px solid white;
    margin-left: 600px;
    background-color: #a7c9d1;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    
}
.msg-btn:hover{
    background-color: #00ccff;
    transition: 0.5s;
}
.book-line1{
    color: rgb(204, 255, 0);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
.contact-form{
    margin-left: 24%;
    padding-bottom: 20px;
    
}
