.order-product-img{
    height:450px;
}
.inputshippingaddress{
    width:400px;
    outline:none;
    padding:10px 20px;

}
.price{
    color:rgb(85, 149, 84);
}

.buyDetails-main-container{
    box-shadow: 0 0 8px rgb(85, 149, 84);
}

.quantitybtn ,.quantity{
    width:80px;
    border:none;
    background-color: rgb(85, 149, 84);
    color: aliceblue;
    font-size: 25px;
    box-shadow: 0 0 0 rgba(0, 0,0,0.3);
}

.quantity{
    background-color: rgba(254, 250, 250, 0.918)!important;
    color: rgb(85, 149, 84);

}

.order-now-btn{
    background-color: rgb(33, 117, 169);
    color: white;
    width: 440px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bolder;
}

.buy-details-container{
    display: flex;
}


@media screen  and  (max-width:768px)
{

    .order-product-img{
        height:250px;
        padding: 0;
       
    }

    .buy-details-container{
        flex-direction: column;
    }

    .buyDetails-main-container{
        padding: 10px;


    }


}