/* DataDestructionUnit.css */

.data-destruction-unit {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px;
}

h1 {
  font-size: 28px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

.services,
.contact {
  text-align: left;
  margin: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 20px;
}

.mobile {
  color: #007bff;
  text-decoration: none;
}
.data-unit-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 270px;
}
.dataunitimg {
  margin-left: 100px;
  margin-right: 300px;
  height: 200px;
  display: block;
}
.imgunit {
  height: 470px;
  width: 80rem;
  border-radius: 5px;
}

.destruction-text {
  margin-top: 30px;
  text-align: start;
}
.btn-destriction {
  margin-top: 20px;
  width: 180px;
  border-radius: 5px;
  /* background-color: rgb(232, 233, 233); */
  background-color: aquamarine;
  font-size: 20px;
  padding: 10px 2px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.btn-destriction:hover {
background-color: #fff;
}
.btn-certificate {
  width: 350px;
  margin-left: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: aquamarine;
}
.btn-certificate:hover {
 background-color: #fff;
}
