.products-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.searchbar{
  padding: 10px;
  font-size: 27px;
  padding: 10px;
  width: 50%;
  margin: 20px auto;
  display: block;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(51, 50, 50, 0.368);
  

}


@media screen  and (max-width:768px){

  .products-cards{
     display: block;
  
     /* margin: 20px 20px; */
  }
  .searchbar{
      width:320px;
  }

  
}