.main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
    width: 320px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h4 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .product-details span {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .place-order{
    background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
  }

  .shop-name{
    font-size: 24px;
    color:  #ff5722;
    font-weight: bold;
  }

  .order-product{
    margin-top: 20px;
    text-decoration: none;
  }

  .navigate-btn{
    background-color: whitesmoke;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  