.signup-form{
    width: fit-content;
    background-color: #fff;
    margin: 30px auto;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  }
  
  .gender{
    margin-left: 20px;
  }
  
  .signup-btn{
    display: block;
    margin: 10px auto;
    width: 150px;
  }
  