/* .navbar{
    background-color: #fff;
    position: sticky;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .navbar-brand{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin-left: 80px;
    font-weight: 600;
  }
  
  .navbar-link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 20px;
    font-weight: 600;
  }
  
  .navbar-link:hover{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 600;
  }
  
  @media screen and (max-width: 768px){
    .navbar{
      flex-direction: column;
      align-items: start;
    }
  
    .navbar-links-container{
      display: flex;
      flex-direction: column;
    }
  
    .navbar-link{
      margin: 10px 0;
    }
  
    .navbar-link:hover{
      background-color: #fff;
      color: #000;
      padding: 0;
      border-radius: 5px;
      transition: 0.3s;
    }
  
    .navbar-user-container{
      margin-top: 10px;
    }
  }
   */

   .nav1 {
    font-weight: 600;
    color: black;
    background-color: #fff;
    position: sticky;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .user {
    height: 30px;
  }
  .nav-link {
    cursor: pointer;
    color: black;
  }
  
  .navbar-container {
    z-index: 1;
  }
 
  .logo {
    font-size: 25px;
    color: black;
  }
  .logout-btn {
    margin-left: 10px;
  }
  .navbar-link {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar-logout-btn {
    background-color: rgb(18, 18, 41);
    color: black;
    margin-right: 30px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: none;

  }
  